.backdrop {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: $transitionBackdrop;
  background: rgba(0, 0, 0, 0.2);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  &.is-hidden .form-container {
    transform: translate(-50%, -50%) scale(0) perspective(400px) rotateX(90deg);
  }
}
  /*---MODAL----*/
  .form-container {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform $animation;
    background-color: $whiteColor;
    box-shadow: $formBoxShadow;
    border-radius: 4px;
  
    @media screen and (max-width: 480px) {
      min-width: 100%;
      max-height: 609px;
    }
    @media screen and (min-width: 481px) and (max-width: 1199px) {
      width: 450px;
    }
  }
  
  .close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    fill: $blackColor;
    transition: fill $animation;
  
    &:hover,
    &:focus {
      fill: $accentColor;
    }
  }
  .form__title {
    @include font(700, 20px, 1.15, 0.03em, $textColor);
    text-align: center;
    margin-bottom: 12px;
  }

.form__label {
  @include font(null, 12px, 1.1, 0.01em, $subTextColor);
  display: block;
}
.form__field-thumb {
  display: flex;
  position: relative;
  margin-top: 4px;
}
.form__field {
  margin-bottom: 10px;
}
.form__input {
  @include input(14px, 1.71, 0.03);
  padding-left: 42px;
  flex-grow: 1;
  height: 38px;
}
.form__textarea {
  @include input(12px, 1.1, 0.01);
  max-width: 448px;
  min-width: 100%;
  resize: none;
  margin-top: 4px;
  padding: 10px 16px;

  &::placeholder {
    @include font(null, 12px, 1.1, 0.01em, rgba(117, 117, 117, 0.5));
  }
}
.form__last-field {
  margin-bottom: 20px;
}

.form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  display: inline-block;
  transition: fill $animation;
}

.form__input:focus,
.form__textarea:focus {
  border-color: $accentColor;
}

.form__input:focus + .form__icon {
  fill: $accentColor;
}
 /*--CHECK--*/
.form__terms {
  @include font(null, 12px, 1.71, 0.03em, $subTextColor);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  &--accent {
    color: $accentColor;
    text-decoration: underline;
  }
}

.form__checkbox {
  position: absolute;
  transition: border-color $animation;
}

.form__icon-check {
  margin-right: 8px;
  border: 2px solid $textColor;
  border-radius: 2px;
  transition: border $animation, background-color $animation, border-color $animation;

  .form__checkbox:checked + & {
    background-color: $accentColor;
    border-color: $accentColor;
  }
}

.form__btn-thumb {
  text-align: center;
}

.form__btn {
  @include button(52px);

  &:hover,
  &:focus {
    background: $accentHover;
    cursor: pointer;
  }
}